
/* this * isused for apply css in the whole  */
*{
  background-color: #D8DA3D;
}
ul {
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;
  }

  li{
    background-color: aliceblue;
    margin:10px;
    padding: 3px;
    
    color:#80007E;
    font-size: 22px;
    border-right: 15px solid black ;
    
  }


/* This brings the complete columns of the box in a row */
  .box{
    display:flex;
    flex-direction: row;
  }

  /* This allows the col1 and col2 to to come side by side */
  .col1{
    width:17%;
    float:left;
  } 
 
   .col2{
    margin: 5px;
    margin-left:25px;
    padding:0px 5px;
    width:90%;
    float:right;

  } 

  /* This css property is used to bring the digit or letter inside the class slightly downward as a subscript */
  .down-letter{
    vertical-align: sub;
    background-color: aliceblue;
    font-size: 23px;
   
  }
  .down-letter2{
    vertical-align: sub;
    font-size: 23px;
  }
  
  h1{
    font-family: sans-serif;
    color:#80007E;
    font-size: 35px;
  }
  p{
    padding-top: 2px;
    color:#80007E;
    font-weight: bold;
    font-size: 21px;
  }
  hr{
    border:1px solid #80007E;
  }
  

  /* This class css shows 8 in 2018 slightly bigger */
  .greater{
    font-size: 23px;
  }

  /* Using Adjacent Sibling Selector even though it can be done in other ways also */
  hr + p{
    font-style: italic;
  
  }